.welcome {
  h1 {
    text-align: center;
    font-size: 3.7em;
    font-weight: 700;
  }

  img {
    width: 100%;
    height: auto;
  }

  .credits {
    font-size: 1.2em;
    font-weight: 500;
  }
}
